    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>呂朝欽醫師</h2>
                <p>"呂醫師診所"是健保西醫小兒科內科專科診所, 以傳統醫學的針灸和埋線治療.減輕病人的不適,鼓勵減少用藥,以期達到預防醫學的概念.</p>
                <p>呂醫師來自醫師家庭，父親是高雄醫學大學小兒科教授。從小耳濡目染，立志繼承衣缽濟世救人。 學習了西方小兒科，離開醫學中心，深入基層診所服務病人，深感西方醫學優良診斷，卻太重視用藥，認為即使良藥也是三分治療七分毒害，也體認預防醫學的重要。
                於是拜師鑽研中醫針灸，又改良針灸變為可效果持續的埋線治療，喜歡治療各類疑難雜症，利用埋線進行日常保養，宣揚保養重於治療的理念。
                </p>
                </br>
                <div class="col-sm-6" style="padding-right:20px;border-right: 1px solid #ccc;">
                    <h1>學歷</h1>
                    <hr>
                    <h4>成功大學理學院生物系學士</h4>
                    <h4>高雄醫學大學醫學系醫學士</h4>
                    <h4>針灸醫學學分研習</h4>

                </div>
               
                <div class="col-sm-6">
                    <h1>執照</h1>
                    <hr>
                    <h4>小兒專科證書</h4>
                    <h4>針灸專科證書</h4>
                    <h4>急救加護會員</h4>
                </div>

            </div>
        </div>
    </section>