    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container" style="background-color: rgba(0,0,0,.5);">
                <div class="col-lg-8 col-lg-offset-2" >
                    </br>
                    <h2 style="color:#f9f9f9;">治療事項</h2>
                    <hr>
                    <h5 style="color:#f9f9f9;">筋骨</h5>
                    <h4 style="color:#f9f9f9;">各式痠痛，急性扭傷，落枕，五十肩，媽媽手, 手麻腳麻，腰痛，小腿痠痛，中風後保健</h4>
                    
                    <hr>
                    <h5 style="color:#f9f9f9;">安眠</h5>
                    <h4 style="color:#f9f9f9;">失眠，淺眠，多夢，精神不集中，小孩記憶增加</h4>
                    
                    <hr>
                    <h5 style="color:#f9f9f9;">皮膚</h5>
                    <h4 style="color:#f9f9f9;">過敏性皮膚炎，青春痘，臉部膠原蛋白增生，美白眼袋，法令紋，臉上斑點減少</h4>

    `               <hr>
                    <h5 style="color:#f9f9f9;">內科</h5>
                    <h4 style="color:#f9f9f9;">胃痛，脹氣，便秘，感冒，久咳，過敏性鼻炎，偏頭痛，心悸，各類身體保健，血壓血糖控制, 攝護腺腫大，漏尿，癌症正規療法後減輕不適</h4>

                    <hr>
                    <h5 style="color:#f9f9f9;">感官</h5>
                    <h4 style="color:#f9f9f9;">乾眼症，視茫，耳鳴，味覺喪失，各式疑難雜症</h4>

                    <hr>
                    <h5 style="color:#f9f9f9;">婦科</h5>
                    <h4 style="color:#f9f9f9;">停經症候群，經期疼痛，局部塑身，減重</h4>

                    <hr>
                    <h5 style="color:#f9f9f9;">兒科</h5>
                    <h4 style="color:#f9f9f9;">青春期兒童長高，兒童減敏，小孩過動</h4>
                    <hr>
                </div>
            </div>
        </div>
    </section>