 <section id="popular" class="container content-section text-center" style="background-color:">
 	<div class="row">
            <div class="col-lg-8 col-lg-offset-2">

            	<h2>熱門保養事項</h2>
            	<p>本診所以“中西醫學診斷，針灸埋線保養，沒病保養防範未然，有病以自然療少用藥物”為設立宗旨</p>
            	<div class="col-sm-6">
            		
            		<img src="img/weight2.jpg" align="right" style="margin-bottom:15px;">
            	
					          		
					<img src="img/face2.jpg" style="width:640px;height:480px;margin-top:15px;" align="right">
					
				</div>
				<div class="col-sm-6">
				
				<img src="img/blood2.jpg" style="width:640px;height:480px;margin-bottom:15px;">
				
				<img src="img/back2.jpg" style="width:640px;height:480px;margin-top:15px;">
				
				</div>




            </div>
        </div>
    </section>